<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>nav-bar</title>
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
        <nav>
                <div class="nav-container">
                        <div class="logo">
                                <a href="/">
                                        <img src="images/Logo.png" alt="Logo" />
                                </a>
                        </div>
                        <ul>


                                <ul class="pags">
                                        <a href="/">Início</a>
                                        <a href="/biografias">Biografias</a>
                                        <a href="/sobre">Sobre</a>
                                        <a href="/auth/login">Entrar</a>


                                </ul>
                </div>
        </nav>
</body>

</html>