<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/sobre.css" />
        <title>Sobre</title>
</head>

<body>
        <%- include('./partials/header') %>
                <h1 class="pergunta">Como surgiu a TecCie?</h1>

                <p class="about">Surgiu pela seguinte pergunta: "Se alguém perguntar cinco nomes de mulheres que
                        marcaram a história
                        da ciência e tecnologia, você saberia dizer agora?".
                        Isso nos traz a reflexão que é muito comum grandes nomes masculinos que marcaram a ciência e a
                        tecnologia são, na maioria das vezes, mais lembrados.
                        A partir disso, a "TecCie" foi criada, sendo uma espécie de blog com nomes femininos
                        importantíssimos que marcaram a história da ciência e tecnologia.
                        Gostou da ideia? Dá uma curtida nas mulheres que você conhecia para fazer parte da TieCie!</p>

                <div class="slide"><img src="/images/slideSobre.png" alt="Slide 3"></div>


                </div>
                <h3>Desenvolvido por Isabelly Barbosa Cordeiro, aluna do Curso técnico integrado em Informática pelo
                        IFCE-Campus Fortaleza. Projeto
                        sem fins lucrativos.</h3>


                <footer>
                        <%- include('./partials/footer') %>

                </footer>

</body>

</html>