body {
        /* Certifique-se de que a fonte Poppins esteja importada */
        background-color: #E0D9EB;
        /* Cor de fundo da página */
        margin: 0;

}

.text1 {
        display: flex;
        font-family: 'JetBrains Mono', sans-serif;
        padding: 30px;
        text-align: justify;
        justify-content: center;
        align-items: center;
        font-size: 18px;

}

.text2 {
        display: flex;
        font-family: 'JetBrains Mono', sans-serif;
        text-align: justify;
        justify-content: center;
        /* Alinha horizontalmente */
        align-items: center;
        /* Alinha verticalmente */
        padding-left: 250px;
        padding-right: 250px;
        padding-top: 20px;
        font-size: 20px;

}

.marie-img {
        top: 330px;
        left: 0;
        width: 250px;
        height: auto;
        margin: 0;
        padding: 0;
        display: block;
}

.ada-img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 200px;
}

.carousel {
        position: relative;
        width: 100%;
        max-width: 810px;
        height: 450px;
        margin: 20px auto;
        overflow: hidden;
        border-radius: 10px;
}

.carousel-slides {
        display: flex;
        width: 300%;
        animation: slide-animation 9s infinite;
}

.carousel-slide {
        width: 100%;
        flex: 1 0 100%;
}

.carousel-slide img {
        width: 820px;
        height: 480px;
        object-fit: cover;
}

@keyframes slide-animation {
        0% {
                transform: translateX(0);
        }

        33% {
                transform: translateX(0);
        }

        38% {
                transform: translateX(-100%);
        }

        71% {
                transform: translateX(-100%);
        }

        76% {
                transform: translateX(-200%);
        }

        100% {
                transform: translateX(-200%);
        }
}

.pioneiras {
        display: flex;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #E0D9EB;
        color: black;
        border: 2px solid #311753;
        border-radius: 5px;
        cursor: pointer;
        padding-top: 10px;

}